<ul class="nav navbar-nav">
  <li>
    <a href="index.html">Home</a>
  </li>
  <li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Guidance<b class="caret">
    </b>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="general-guidance.html">General Guidance</a>
    </li>
    <li>
      <a href="technical-guidance.html">Technical Guidance</a>
    </li>
    <li>
      <a href="bulk-data.html">Bulk Data and Subscriptions</a>
    </li>
  </ul>
</li>
<!--
<li>
  <a href="operations.html">Operations</a>
</li>
-->
<li>
  <a href="profiles.html">Profiles</a>
</li>
<li>
  <a href="terminology.html">Terminology</a>
</li>
<li>
  <a href="searchparameters.html">Search Parameters</a>
</li>
<li class="dropdown">
  <a href="#" data-toggle="dropdown" class="dropdown-toggle">Capability Statements<b class="caret">
  </b>
</a>
<ul class="dropdown-menu">
<li>
  <a href="CapabilityStatement-vhdir-server.html">Conformance requirements for VHDIR Server</a>
</li>
<!--
<li>
  <a href="CapabilityStatement-argonaut-questionnaire-client.html">Conformance requirements for Client</a>
</li>
-->
</ul>
</li>
<li>
  <a href="security.html">Security</a>
</li>
<li>
  <a href="all-examples.html">Examples</a>
</li>
<li>
  <a href="downloads.html">Downloads</a>
</li>
</ul>
