certifi==2018.10.15
chardet==3.0.4
et-xmlfile==1.0.1
flake8==4.0.0
idna==2.7
isodate==0.6.0
jdcal==1.4
Jinja2==2.10
lxml==4.2.5
MarkupSafe==1.0
mccabe==0.6.1
numpy==1.15.3
panda==0.3.1
pandas==0.23.4
pep8==1.7.1
pycodestyle==2.4.0
pyflakes==2.0.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==5.1
requests==2.20.0
six==1.11.0
stringcase==1.2.0
urllib3==1.24
xlrd==1.1.0
